/*===============================================================================================================
BASE
===============================================================================================================*/

html{
    box-sizing:border-box;
    font-size:62.5%;
}

*, *:before, *:after{
    box-sizing:border-box;
}

body {
    font-size: 1.6rem; /*taille par défaut de 16px pour le corps de texte*/
}
 

/*===============================================================================================================
ELEMENTS-TEXTE
===============================================================================================================*/


/*===============================================================================================================
ELEMENTS
===============================================================================================================*/
